*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
a{
    text-decoration: none;
}
.container{
    padding: 0 4rem;
}

header{
    background-color: #fff;
    padding: 20px 0;
    position: fixed;
    width: 100%;
}

#headerall {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#headerall .left{
    width: 10%;
}

#headerall .right{
    width: 80%;
    text-align: right;
}

#headerall .left img{
    width: 100%;
}

#headerall .right a{

    color: black;
    font-size: 1rem;
    margin-left: 25px;
}
.first{
    opacity: 1;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 12rem 0;
    background-image: url(https://getmasum.com/html-preview/nour/assets/img/slider/1.jpg);
}
.first .text p{
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 17px;
    color: #fff;
}
.first .text h1{
    color: #fff;
    font-size: 45px;
    margin-bottom: 30px;
    line-height: 1.4;
}
.first .text button{
    font-size: 13px;
    padding: 13px 30px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #6168FF;
    border: 2px solid #6168FF;
    color: #fff;
    border-radius: 12px;
}
#SECONT{
    padding: 5rem 0;
    background-color: #f6f6f6;
}

.secontall{
    display: flex;
    align-items: center;
    justify-content: right;
}
.secontall .box{
    width: 50%;
}
.secontall .box img{
    width: 100%;
    border-radius: 7px;
}
.text-all{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}
.text-box{
    width: 50%;
    margin-bottom: 70px;
}
#SECONT h5{
    margin-top: 1rem;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(120deg,#1c99fe 20.69%,#7644ff 50.19%,#fd4766 79.69%);
}
.text-box h5{
    font-size: 18px;
    color: #1f1f25;
}
.text-box p{
    font-size: 15px;
    margin-top: 20px;
    color: #757575;
}
.container{
    width: 100%;
}
.text-all .text-box i{
    margin-left: 1.2rem;
    font-size: 2rem;
    color: #6168FF;
}
#TREE{
    overflow: hidden;
    background-color: #f8f9fa;
}
#TREE .text .up{

    text-align: center;
    padding: 10rem 0;
}
#TREE .text .up h1{
    margin-top: -1rem;
    position: relative;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 1.3;
    color: #6168FF;
    font-weight: 400;

}
#TREE .photo .down{
    border: 1px solid rgba(128, 128, 128, 0.253);
    opacity: 0.8;
    padding: 30px;
    border: 1px 1px 1px 0;
}
#TREE .text .up p{
    font-size: 27px;
    line-height: 38px;
    color: #333;
    font-weight: 200;
}
#TREE .text .down{
    border: 10px solid transparent;
    float: left;
    margin-top: -8rem;
    width: 30%;
    margin-bottom: 2rem;
}
#TREE .text .down img{
    width: 100%;
    margin-left: 40px;
    justify-content: space-evenly;
}
#TREE .text .down h1{
    margin-left: 3.5rem;
    text-align: left;
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 4rem;
}
#four{
    padding: 10rem;
}
#four .text .up{
    margin-top: 22rem;
    text-align: center;
}
#four .text .up h1{
    margin-top: 4rem;
    position: relative;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 1.3;
    color: #6168FF;
    font-weight: 400;
}
#four .text .up p{
    font-size: 27px;
    line-height: 38px;
    color: #333;
    font-weight: 200;
}
#four .photo .left i{
    font-size: 1.5rem;
}
#four .all{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#four .photo{
    display: flex;
    width: 32%;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 40px;
    padding: 35px 35px 20px;
    color: #666666;
    background-color: #F4F9FF;
}
#four .photo .left{
    width: 10%;
}
#four .photo .right{
    width: 80%;
}
#five .text .up{
    padding: 10rem;
}
#five .text .up p{
    margin-top: 0;
    position: relative;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 1.3;
    margin-bottom: 0px;
    color: #6168FF;
    text-align: center;
}
#five .text .up h3{
    font-size: 27px;
    font-weight: 300;
    line-height: 38px;
    color: #333;
    text-align: center;
}
#five .photo{
    flex-wrap: wrap;
    justify-content: space-evenly;
    display: flex;
    width: 30%;
}
#five .photo img{
  padding-top: 2rem;
    width: 100%;
}
#five .photobox{
    margin-top: -8rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
    display: flex;
}
#six{
    padding: 3rem 0;
    background-color: #6168FF;
}
#six .boxall{
    width: 15%;
}
#six .box{
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}
#six .photo img{
    width: 100%;
}
#seven{
    overflow: hidden;
    padding: 10rem;
}
#seven .all .up h3{
    text-align: center;
    font-size: 27px;
    line-height: 38px;
    color: #333;
    font-weight: 100;


}
#seven .all .up p{
    text-align: center;
    margin-top: -1rem;
    position: relative;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 1.3;
    color: #6168FF;
    font-weight: 300;
}
#seven .box{

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#seven .boxall{

    padding-top: 5rem;
    width:30%;
}
#seven .boxall img{
    width: 100%;
   padding: 1rem 6rem 141px 99px;
    background-color: #F4F9FF;
}
#seven .boxall p{
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    border-radius: 10px;
    text-align: center;
    margin-top: -8rem;
    color: rgba(128, 128, 128, 0.792);
}
